/* =============================================================================
 HTML5 Boilerplate CSS: h5bp.com/css
 ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display: block;
}
audio, canvas, video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}
audio:not([controls]) {
	display: none;
}
[hidden] {
	display: none;
}

html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
html, button, input, select, textarea {
	font-family: sans-serif;
	color: #222;
}
body {
	margin: 0;
	font-size: 1em;
	line-height: 1.4;
}

::-moz-selection {
	background: #fe57a1;
	color: #fff;
	text-shadow: none;
}
::selection {
	background: #fe57a1;
	color: #fff;
	text-shadow: none;
}

a {
	color: #00e;
}
a:visited {
	color: #551a8b;
}
a:hover {
	color: #06e;
}
a:focus {
	outline: thin dotted;
}
a:hover, a:active {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}
b, strong {
	font-weight: bold;
}
blockquote {
	margin: 1em 40px;
}
dfn {
	font-style: italic;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}
ins {
	background: #ff9;
	color: #000;
	text-decoration: none;
}
mark {
	background: #ff0;
	color: #000;
	font-style: italic;
	font-weight: bold;
}
pre, code, kbd, samp {
	font-family: monospace, serif;
	_font-family: 'courier new', monospace;
	font-size: 1em;
}
pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}
q {
	quotes: none;
}
q:before, q:after {
	content: "";
	content: none;
}
small {
	font-size: 85%;
}

sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}

ul, ol {
	margin: 1em 0;
	padding: 0 0 0 40px;
}
dd {
	margin: 0 0 0 40px;
}
nav ul, nav ol {
	list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
}

img {
	border: 0;
	-ms-interpolation-mode: bicubic;
	vertical-align: middle;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 0;
}

form {
	margin: 0;
}
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
label {
	cursor: pointer;
}
legend {
	border: 0;
	*margin-left: -7px;
	padding: 0;
	white-space: normal;
}
button, input, select, textarea {
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
	*vertical-align: middle;
}
button, input {
	line-height: normal;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
	*overflow: visible;
}
button[disabled], input[disabled] {
	cursor: default;
}
input[type="checkbox"], input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
	*width: 13px;
	*height: 13px;
}
input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none;
}
button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0;
}
textarea {
	overflow: auto;
	vertical-align: top;
	resize: vertical;
}
input:valid, textarea:valid {
}
input:invalid, textarea:invalid {
	background-color: #f0dddd;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
td {
	vertical-align: top;
}

.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: black;
	padding: 0.2em 0;
}

/* ===== Primary Styles ========================================================
 Author:
 ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Graduate);

.workflow {
	width: 215px;
	height: 2200px;
	float: left;
	font-size: 0.7em;
	background: transparent url('../img/bg_workflow.png') 0 0 repeat;
}

.personalflow {
	width: 215px;
	height: 2200px;
	float: right;
	font-size: 0.7em;
	color: #d0dee6;
	background: transparent url('../img/bg_personalflow.png') 0 0 repeat;
}

.personalflow header, .workflow header, .notes header {
	font-family: 'Graduate', serif;
	text-transform: uppercase;
	font-size: 1.5em;
	font-weight: 400;
	padding: 15px 0 10px;
	/*text-shadow: 0px 1px 3px #fff;*/
	text-align: center;
}

.notes {
	height: 2200px;
}

.notes header {
	background: transparent url('../img/trianglesprite2.png') center top no-repeat;
	padding: 15px 0 0;
	color: #f2eee9;
	z-index: 500;
}

.notes img.blank, .notes header {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -145px; /*half of pixel width*/
	width: 290px;
	height: 100px;
}

#loading {
	position: absolute;
	background: transparent url('../img/bg_loading.png') repeat;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: 900;
}

#loading img {
	position: absolute;
	left: 50%;
	top: 200px;
	margin-left: -16px;
}

.flowitems {
	display: none;
}

.sketchWrap {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: 300;
}

#sketchPad {
	background: transparent;
	width: 100%;
	height: 100%;
}

#notePad {
	display: block;
	font: normal 0.8em sans-serif;
}

.item {
	cursor: pointer;
	clear: both;
}

.item.shadowonly {
	height: 15px;
}

.item p {
	padding: 15px 10px;
	margin: 0;
}

.item img {
	margin: 15px 10px;
	float: left;
	background: transparent url('../img/sprites.png') 0 0 no-repeat;
}

.current.item img {
	width: 32px;
	height: 32px;
}

.actual.current.item {
	height: 80px;
}

.past.item img, .future.item img {
	width: 24px;
	height: 26px;
}

.workflow .current.item {
	background: transparent url('../img/bg_workflow_current.png') 0px 0px repeat;
}

.personalflow .current.item {
	background: transparent url('../img/bg_personalflow_current.png') 0px 0px repeat;
}

.future.item {
	background: transparent url('../img/shadow_small_top.png') center bottom no-repeat;
}

.future.current.item {
	background: transparent url('../img/shadow_big_top.png') center bottom no-repeat;
}

.workflow .past.item .email, .workflow .future.item .email {
	background-position: -5px -96px;
}

.workflow .past.item:hover .email, .workflow .future.item:hover .email {
	background-position: -5px -64px;
}

.personalflow .past.item .email, .personalflow .future.item .email {
	background-position: -37px -96px;
}

.personalflow .past.item:hover .email, .personalflow .future.item:hover .email {
	background-position: -37px -64px;
}

.workflow .current.item .email {
	background-position: 0px -33px;
}

.workflow .current.item:hover .email {
	background-position: 0px -2px;
}

.personalflow .current.item .email {
	background-position: -32px -33px;
}

.personalflow .current.item:hover .email {
	background-position: -32px -2px;
}

.workflow .past.item .meeting, .workflow .future.item .meeting {
	background-position: -3px -223px;
}

.workflow .past.item:hover .meeting, .workflow .future.item:hover .meeting {
	background-position: -3px -192px;
}

.personalflow .past.item .fb, .personalflow .future.item .fb {
	background-position: -35px -223px;
}

.personalflow .past.item:hover .fb, .personalflow .future.item:hover .fb {
	background-position: -35px -192px;
}

.workflow .past.item .report, .workflow .future.item .report {
	background-position: -3px -287px;
}

.workflow .past.item:hover .report, .workflow .future.item:hover .report {
	background-position: -3px -256px;
}

.personalflow .past.item .tt, .personalflow .future.item .tt {
	background-position: -35px -287px;
}

.personalflow .past.item:hover .tt, .personalflow .future.item:hover .tt {
	background-position: -35px -256px;
}

.workflow .past.item .event, .workflow .future.item .event {
	background-position: -3px -159px;
}

.workflow .past.item:hover .event, .workflow .future.item:hover .event {
	background-position: -3px -128px;
}

.personalflow .past.item .event, .personalflow .future.item .event {
	background-position: -35px -159px;
}

.personalflow .past.item:hover .event, .personalflow .future.item:hover .event {
	background-position: -35px -128px;
}

.past.current.item {
	background: transparent url('../img/shadow_big_bottom.png') center top no-repeat;
}

.past.item {
	background: transparent url('../img/shadow_small_bottom.png') center top no-repeat;
}

.tooltipWrap, .tourWrap {
	display: none;
	position: absolute;
	z-index: 200;
	max-width: 500px;
}

.tourWrap {
	z-index: 1000;
}

.tooltip, .tour {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box; /* Opera/IE 8+ */
	padding: 20px;
	background: transparent url('../img/bg_tooltip.png') repeat;
	font-size: 0.8em;
}

.tooltip h1, .tour h1 {
	font-family: 'Graduate', serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 3em;
	font-weight: 400;
	margin: 20px 0 0;
}

.tooltip h2, .tour h2 {
	font-family: 'Graduate', serif;
	text-align: right;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 3em;
	font-weight: 400;
	margin: 0 0 0;
}

.tourWrap {
	left: 50%;
	margin-left: -250px;
	top: 150px;
	width: 500px;
}

.tour {
	background: transparent url('../img/bg_tour.png') repeat;
}

.tour p.right {
	font-family: 'Graduate', serif;
	/*text-transform: uppercase;*/
	font-size: 2em;
	font-weight: 400;
	margin: 20px 0 0;
}

.social {
	background: transparent url('../img/social.png') 0px -177px no-repeat;
	width: 230px;
	height: 177px;
	display: block;
	float: left;
}
.social.facebook {
	background-position: -230px -177px;
}

.social.twitter:hover {
	background-position: 0px 0px;
}

.social.facebook:hover {
	background-position: -230px 0px;
}

a,a:link,a:visited,a:active {
	text-decoration: underline;
}

a,a:link,a:visited,a:active,.workflow a,.workflow a:link,.workflow a:visited,.workflow a:active {
	color: rgb(60,60,60);
}

a:hover,.workflow a:hover {
	color: rgb(20,20,20);
}

.personalflow a,.personalflow a:link,.personalflow a:visited,.personalflow a:active {
	color: #d0dee6;
}

.personalflow a:hover {
	color: rgb(255,255,255);
}

a.button, a.button:link, a.button:visited, a.button:active {
	color: rgb(60,60,60);
	text-decoration: none;
	background-color: rgba(210,210,210,0.5);
	padding: 7px 10px;
	margin-top: 10px;
	float: left;
}

a.button:hover {
	background-color: rgba(255,255,255,0.8);
}

a.button.primary {
	color: #c0c0c0;
	background-color: rgba(0,0,0,0.6);
	float: right;
}

a.button.primary:hover {
	color: #fff;
	background-color: rgba(0,0,0,0.8);
}

.stickyWrap {
	position: absolute;
	display: none;
	font-size: 0.8em;
}

.sticky textarea {
	position: relative;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box; /* Opera/IE 8+ */
	border: 0;
	width: 200px;
	height: 200px;
	display: block;
	background: transparent;
	padding: 12px;
}

.sticky {
	background: #fff;
}

.sticky .message {
	display: inline;
}

.sticky .button {
	display: none;
}

.sticky .tools {
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 400;
	text-align: right;
}

.sticky .tools a.close, .sticky .tools a.pin {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-left: 5px;
	float: left;
	background: transparent url('../img/sprites2.png') -32px -16px no-repeat;
}

.sticky:hover .tools a.close {
	background-position: -16px -16px;
}

.sticky .tools a.close:hover {
	background-position: 0px -16px;
}

.sticky .tools a.pin {
	background-position: -32px -48px;
}

.sticky:hover .tools a.pin {
	background-position: -16px -48px;
}

.sticky .tools a.pin:hover {
	background-position: 0px -48px;
}

.ie9 .mailWrap {
	top: 374px;
}

.mailWrap, .calendarWrap {
	display: none;
	position: absolute;
	top: 364px;
	left: 215px;
	background: transparent url('../img/bg_notes_mail.png') 0 0 repeat;
	width: 435px;
	font-size: 0.7em;
	font-weight: 400;
	z-index: 0;
}

.mailWrap textarea {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box;
	background-color: transparent;
	border: 1px solid #f0f0f0;
	width: 315px;
	margin: 0 60px 20px;
	padding: 10px;
	z-index: 450;
}
.mail {
	background: transparent url('../img/bg_itempointer.png') 0 50px no-repeat;
	padding: 40px 60px 60px;
}
.mail .info, .oldmail .info {
	margin: 0;
	color: #bcbcbc;
}
.oldmail {
	height: 26px;
	background: transparent url('../img/bg_nextmail.png') left bottom no-repeat;
}

.oldmail .info {
	padding: 7px 60px 0;
}

.sketchTools {
	display: none;
	position: absolute;
	bottom: 60px;
	right: 160px;
	transform: rotate(-45deg);
	-ms-transform: rotate(-45deg); /* IE 9 */
	-moz-transform: rotate(-45deg); /* Firefox */
	-webkit-transform: rotate(-45deg); /* Safari and Chrome */
	-o-transform: rotate(-45deg); /* Opera */
	z-index: -1;
}

.calendarWrap {
	left: auto;
	top: 328px;
	right: 215px;
}
.ie9 .calendarWrap {
	top: 338px;
}
.calendar {
	background: transparent url('../img/bg_calendarpointer.png') right 50px no-repeat;
	padding: 40px 60px 60px;
}
.calendar table {
	table-layout: fixed;
	border: 1px solid #f0f0f0;
	width: 315px;
	text-align: center;
}
.calendar table td {
	width: 45px;
}

.shadow {
	position: relative;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 60px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.shadow:before, .shadow:after {
	content: "";
	position: absolute;
	z-index: -2;
}

.lifted:before, .lifted:after {
	bottom: 15px;
	left: 10px;
	width: 50%;
	height: 20%;
	max-width: 300px;
	-webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
	box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	transform: rotate(-3deg);
}

.lifted:after {
	right: 10px;
	left: auto;
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	transform: rotate(3deg);
}

.sides:before {
	top: 10px;
	bottom: 10px;
	left: 0;
	right: 50%;
	-webkit-box-shadow: 0 0 15px rgba(0,0,0,0.6);
	-moz-box-shadow: 0 0 15px rgba(0,0,0,0.6);
	box-shadow: 0 0 60px rgba(0,0,0,0.6);
	-moz-border-radius: 50px /100px;
	border-radius: 50px /100px;
}

.sides:before {
	top: 10px;
	bottom: 10px;
	left: 30px;
	right: 30px;
	-moz-border-radius: 100px /50px;
	border-radius: 100px /50px;
}

/* =============================================================================
 Media Queries
 ========================================================================== */
/*		Default Layout: 992px.
 Gutters: 24px.
 Outer margins: 48px.
 Leftover space for scrollbars @1024px: 32px.
 -------------------------------------------------------------------------------
 cols    1     2      3      4      5      6      7      8      9      10
 px      68    160    252    344    436    528    620    712    804    896    */

body {
	background: transparent url('../img/bg_notes.png') 0 0 repeat;
	color: rgb(60,60,60);
	-webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
	overflow: hidden;
}

/*		Tablet Layout: 768px.
 Gutters: 24px.
 Outer margins: 28px.
 Inherits styles from: Default Layout.
 -----------------------------------------------------------------
 cols    1     2      3      4      5      6      7      8
 px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {

	body {
		width: 712px;
		padding: 0px 28px 60px;
	}
}

/*		Mobile Layout: 320px.
 Gutters: 24px.
 Outer margins: 34px.
 Inherits styles from: Default Layout.
 ---------------------------------------------
 cols    1     2      3
 px      68    160    252    */

@media only screen and (max-width: 767px) {

	body {
		width: 252px;
		padding: 0px 34px 60px;
	}

}

/*		Wide Mobile Layout: 480px.
 Gutters: 24px.
 Outer margins: 22px.
 Inherits styles from: Default Layout, Mobile Layout.
 ------------------------------------------------------------
 cols    1     2      3      4      5
 px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {

	body {
		width: 436px;
		padding: 0px 22px 48px;
	}

}
/* =============================================================================
 Non-Semantic Helper Classes
 ========================================================================== */

.ir {
	display: block;
	border: 0;
	text-indent: -999em;
	overflow: hidden;
	background-color: transparent;
	background-repeat: no-repeat;
	text-align: left;
	direction: ltr;
	*line-height: 0;
}
.ir br {
	display: none;
}
.hidden {
	display: none !important;
	visibility: hidden;
}
.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}
.invisible {
	visibility: hidden;
}
.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}
.right {
	text-align: right;
}

/* =============================================================================
 Print Styles
 ========================================================================== */

@media print {
	* {
		background: transparent !important;
		color: black !important;
		box-shadow: none !important;
		text-shadow: none !important;
		filter: none !important;
		-ms-filter: none !important;
	}/* Black prints faster: h5bp.com/s */
	a, a:visited {
		text-decoration: underline;
	}
	a[href]:after {
		content: " (" attr(href) ")";
	}
	abbr[title]:after {
		content: " (" attr(title) ")";
	}
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
		content: "";
	}/* Don't show links for images, or javascript/internal links */
	pre, blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}
	thead {
		display: table-header-group;
	}/* h5bp.com/t */
	tr, img {
		page-break-inside: avoid;
	}
	img {
		max-width: 100% !important;
	}
	@page {
		margin: 0.5cm;
	}
	p, h2, h3 {
		orphans: 3;
		widows: 3;
	}
	h2, h3 {
		page-break-after: avoid;
	}
}
